.header {
    background: $off-black;
    color: $off-white;
    margin-bottom: $xl-size;
    padding: $m-size 0;
    text-align: center;
}

// BEM - block element modifier
.header__title {
    font-size: $l-size;
    color: white;
    margin: 0;
}

.header__subtitle {
    color: $off-white;
    font-size: $m-size;
    font-weight: 500;
    margin: 0;
}